.app{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.Counter button{
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: #f1f1f1;
  cursor: pointer;
}
.Counter button:hover{
  background-color: #e1e1e1;
}
.Counter h2{
  font-size: 30px;
  margin: 10px;
  
}